@charset "utf-8";

@font-face {
    font-family: 'SCIconFont';
    src:  url('../fonts/icomoon.eot?rhejc0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rhejc0') format('truetype'),
    url('../fonts/icomoon.woff?rhejc0') format('woff'),
    url('../fonts/icomoon.svg?rhejc0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

@keyframes firstEntry{
    0%   {opacity: 0; transform: translateY(40px);}
    100% {opacity: 1; transform: translateY(0px);}
}

ul{
    margin: 0;
}
header{
    background: rgba(0,0,0,0.4);

}
nav{
    background: transparent;
    height: 50px;
}

#banner{
    background: transparent;
    height: 730px;
}

.article #banner{
    height: 300px;
}

nav ul{
    list-style: none;
    margin: 0;
}

nav .logo{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}

.menu-content .menu-close:before{
    content: "\ea0f";
    font-family: 'SCIconFont';
    display: inline-block;
    float: right;
    color: #ffffff;
    font-size: 24px;
    padding: 15px;
}

nav ul li{
    line-height: 50px;
    margin-right: 40px;
    padding-left: 30px;
    border-bottom: 1px solid #1fa296;
}

.menu-content ul li a{
    line-height: 50px;
    text-decoration: none;
    display: block;
    height: inherit;
    color: #fff;
    font-size: 16px;
}

nav .logo{
    float: left;
    padding-left: 10px;
}

nav .menu{
    float: right;
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
    padding-top: 15px;
    padding-right: 15px;
}
.menu-icon:after{
    content: "\e9bb";
    font-family: 'SCIconFont';
    display: inline-block;
}

nav .menu-content{
    display: none;
    width: 350px;
    height: 780px;
    position: absolute;
    background: #21b2a6;
    right: -350px;
}

#banner .inner{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 160px;
    color: #ffffff;
    animation: firstEntry 1s;
}
.article #banner .inner{
    top: 30px;
}

#banner .inner h1{
    margin: 0;
}

.article h1{
    border: none;
}

.active{
    border-bottom: 4px solid #fff;
}

h1{
    padding: 12px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

.sub-heading{
    line-height: 30px;
    margin: 30px 0;
    font-size: 18px;
}

button{
    border: none;
    background: #089DB0;
    color: #eee;
    padding: 10px;
    border-radius: 15px;
}

.inner button{
    padding: 14px 40px;
}

#banner .inner .more{
    margin-top:200px;
    letter-spacing: 2px;
}

.more a{
    color: #ffffff;
}

.more-icon:before{
    content: "\ea3e";
    font-family: 'SCIconFont' !important;
    font-size: 30px;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo a{
    color: #fff;
}

.hr{
    width: 100%;
    height: 2px;
    margin: 20px auto;
}

.green-section{
    background: #089DB0;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.green-section .hr{
    background: #098E9F;
    width: 60%;
}

.icon-group{
    margin-top: 60px;
}

.green-section .icon-group .icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #089DB0;
    border: 1px solid #0D6F7C;
    transform: rotate(45deg);
    margin: 20px 40px;
}

.icon-group .icon span{
    transform: rotate(-45deg);
    display: block;
}

.icon-android:before{
    content: "\eac0";
    font-family: 'SCIconFont' !important;
    font-size: 40px;
    color: #00ffcc;
    line-height: 80px;
}
.icon-google:before{
    content: "\ea88";
    font-family: 'SCIconFont' !important;
    font-size: 40px;
    color: #00f0ff;
    line-height: 80px;
}
.icon-html:before{
    content: "\eae5";
    font-family: 'SCIconFont' !important;
    font-size: 40px;
    color: #76ddff;
    line-height: 80px;
}

.wrapper{
    max-width:1080px;
    margin: 0 auto;
    animation:firstEntry 1s;
}

.article-preview{
    background: #252F34;
    color: #ffffff;
}

.gray-section .img-section{
    width: 45%;
}
.img-section img{
    width: 100%;
}

.gray-section .text-section{
    width: 55%;
}

.article-preview > div{
    float: left;
    font-size: 0;
}
.article-preview:nth-child(odd){
    opacity: 0.95;
}
.article-preview:after{
    content: "";
    display: block;
    clear: both;
}
.text-section{
    position: relative;
    top: 68px;
    left: 50px;
}
.text-section h2{
    margin-bottom: 20px;
    font-size: 24px;
}
.text-section .sub-heading{
    font-size: 22px;
    margin-top: 0;
}
p{
    font-size: 18px;
    letter-spacing: 1px;
}
.text-section > *{
    width: 90%;
}

.purple-section{
    background: #3F3965;
    color: #ffffff;
    padding: 80px;
}
.purple-section h2{
    margin-bottom: 20px;
    padding-top: 60px;
    font-size: 24px;
}
.purple-section .heading-wrapper{
    text-align: center;
}
.purple-section .hr{
    background: #373259;
    width: 60%;
}
.card{
    float: left;
    width: 50%;
    min-height: 300px;
    padding: 50px;
    box-sizing: border-box;
}
.card:first-child{
    background: rgba(0,0,0,0.04);
}
.card:nth-child(2){
    background: rgba(0,0,0,0.08);
}
.card:nth-child(3){
    background: rgba(0,0,0,0.12);
}
.card:nth-child(4){
    background: rgba(0,0,0,0.16);
}
.card:nth-child(5){
    background: rgba(0,0,0,0.20);
}
.card:nth-child(6){
    background: rgba(0,0,0,0.24);
}
footer{
    background: #333;
    color: #fff;
    min-height: 200px;
    text-align: center;
}
.share-group{
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 20px;
}
.share-group li{
    display: inline-block;
    padding: 10px;
    font-size: 24px;
}
.copy{
    letter-spacing: 2px;
    color: #656565;
    font-size: 18px;
}

.main-wrapper{
    background: #444 url("../img/banner.jpg");
    background-attachment: fixed;/*设置背景图片不可以移动*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "Microsoft YaHei";
    overflow: hidden;
}

.weibo:before {
    content: "\ea9a";
    font-family: 'SCIconFont' !important;
    line-height: 80px;
}
.gmail:before {
    content: "\ea84";
    font-family: 'SCIconFont' !important;
    line-height: 80px;
}
.QQ:before {
    content: "\ea9f";
    font-family: 'SCIconFont' !important;
    line-height: 80px;
}
.github:before {
    content: "\eab0";
    font-family: 'SCIconFont' !important;
    line-height: 80px;
}
.phone:before {
    content: "\e942";
    font-family: 'SCIconFont' !important;
    line-height: 80px;
}

.mask{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
}

#sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 300px;
    background: #333;
    padding: 20px 0;
    transition: right 0.5s;
}
#sidebar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#sidebar ul a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 30px;
    width: 100%;
    display: inline-block;
}
#sidebar ul a:hover{
    background: #444;
}

.back-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 1px solid #888;
}

.article .content{
    background: #fefefe;
}
.content_wrapper{
    width: 1080px;
    margin: 0 auto;
}
.article-info{
    font-size: 14px;
    color: #888;
    padding: 15px 0;
}
.article{
    font-size: 18px;
    line-height: 2;
    padding: 10px 0;
}



